<header>

    <div class="nav-wrapper">
        {% include "../landmarks/nav.html" %}
    </div>

    <div class="wrapper-sm block-center">

    {% include "./post-breadcrumbs.html" %}

        <h1>{{ title }}</h1>

        <p class="u-small">
            <span class="label">Posted:</span>
            <time datetime="{{ date }}">
                {{ date | formatDate }}</time>
        </p>

        {% if tags %}
            <p class="u-small">
                <span class="label">Tags:</span>
                {% for tag in tags%}
                    <a class="tag" href="/blog/tag/{{ tag | slug }}/">#{{ tag | title | replace(' ', '') }}</a>
                    {% endfor%}
                </p>
            {% endif %}


        </div>

</header>