{% if previousPost or nextPost %}
    <nav aria-label="Previos and Next Posts">
        <div class="wrapper-lg post-nav">
            {% if previousPost %}
                <div>
                     <a href="{{ previousPost.url }}">
                        <span>Previous</span>
                       {{ previousPost.data.title }}
                    </a>
            </div>
            {% endif %}
            {% if nextPost %}
                <div class="block-right">
                    <a href="{{ nextPost.url }}">
                        <span>Next</span>
                        {{ nextPost.data.title }}
                    </a>
                </div>
            {% endif %}
        </div>
    </nav>
{% endif %}