// Skolar Sans Latin Black
@mixin black-font {
    font-family: skolar-sans-latin, sans-serif;
    font-weight: 900;
    font-style: normal;
}

// Skolar Sans Latin Regular
@mixin regular-font {
    font-family: skolar-sans-latin, sans-serif;
    font-weight: 400;   
    font-style: normal;
}

// Skolar Sans Latin Bold
@mixin bold-font {
    font-family: skolar-sans-latin, sans-serif;
    font-weight: 700;
    font-style: normal;
}

// Skolar Sans Latin Italic
@mixin regular-italic-font {
    font-family: skolar-sans-latin, sans-serif;
    font-weight: 400;   
    font-style: italic;
}

// Skolar Sans Latin Bold Italic
@mixin bold-italic-font {
    font-family: skolar-sans-latin, sans-serif;
    font-weight: 700;
    font-style: italic;
}


// Skolar Sans Latin Black Italic
@mixin black-italic-font {
    font-family: skolar-sans-latin, sans-serif; 
    font-weight: 900;
    font-style: italic;
}


$black: #33475B;
$primary-color: #D72F3E;
$secondary-color: #FFE23D;
$white: #fff;
$light-gray: #F2F2F2;
$border-black: #ddd;


$background-color: $white; 
$text-color: $black; 
$divider-color: $black; 
$btn-color: $primary-color;
$btn-text: $white;
$secondary-black: lighten($black, 15%);
$primary-color-dark: darken($primary-color, 5%);

$h1-size: 2.25rem;
$h2-size: 1.62671rem; 
$h3-size: 1.38316rem;
$h4-size: 1.1rem;
$p-size: 1rem;
$h5-size: 0.85028rem;
$h6-size: 0.78405rem;


@keyframes swipeBorder {
    from {width: 100%;}
    to { width: 0%;}
}


