@import "variables";
@import "resets";

/* general styles */
html {
  background-color: $primary-color-dark;
  color: $text-color;
  scroll-behavior: smooth;
}

p {
  line-height: 1.5;
}

/*font family and weights */
h1,
h2,
h3,
h4,
h5,
h6,
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  @include bold-font;
}

body {
  @include regular-font;
}

h2 code {
  font-size: $h2-size;
}

/* General layout */

img {
  height: auto;
}

.wrapper-xlg {
  width: 92%;
  max-width: 2000px;
  margin: 0 auto 35px auto;
}

.wrapper-lg {
  width: 92%;
  max-width: 1250px;
  margin: 0 auto 0px auto;
}

.wrapper-md {
  width: 92%;
  max-width: 900px;
}

.wrapper-sm {
  width: 92%;
  max-width: 650px;
  max-width: 720px;
}

img.block-center {
  display: block;
}

ul.post-list.block-center,
.block-center {
  margin: auto;
}

.text-center {
  text-align: center;
}

header {
  padding: 35px 0px;
  background-color: $primary-color;
}

nav {
  width: 100%;
  padding-bottom: 10px;
}

header nav a {
  font-size: 0.85028rem;
  text-transform: uppercase;
  position: relative;
  text-decoration: none;
  @include bold-font;
}

main {
  padding-top: 70px;
  background-color: $primary-color;
}

.band {
  padding-top: 70px;
  padding-bottom: 70px;
}

.tags-menu {
  background-color: $primary-color-dark;
  height: fit-content;
  padding-top: 0.5em;
  ul li {
    list-style: none;
  }

  a {
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}

footer .wrapper-lg {
  p.u-small:last-child {
    margin-bottom: 0px;
  }
}

footer a {
  text-decoration: none;
}

header ul.nav-list {
  padding: 0px 0px 0px 35px;
  margin-bottom: 0px;
}

.hero-band ul,
nav .nav-list,
footer ul {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-left: 0;
  &.social {
    margin-top: 20px;
  }
}

nav .nav-list,
footer ul,
footer p {
  margin: 10px 0;
}

footer p:last-child,
footer ul:last-child {
  margin-bottom: 0;
  padding-bottom: 10px;
}

.hero-band ul li,
nav .nav-list li,
footer ul li {
  margin-bottom: 0;
}

footer {
  background-color: $primary-color-dark;
  padding-top: 35px;
}

.inset + footer {
  margin-top: 0px;
}

ul.social img {
  height: 2.15rem;
  width: auto;
}

.hero-band ul li,
nav .nav-list li,
footer ul li {
  list-style: none;
  padding-left: 0;
}

nav .nav-list li,
footer ul li {
  padding-right: 20px;
}

.hero-band ul li:not(:last-child) {
  padding-right: 40px;
}

.hero-band ul li a {
  font-size: $p-size;
}

/* UTILITIES */
ul.social span,
.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important; /* 1 */
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important; /* 2 */
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}

.u-header {
  font-size: $h5-size;
  margin-top: 0px;
  margin-bottom: 15px;
  text-transform: uppercase;
}

.u-med {
  font-size: $h5-size;
}

.label {
  @include bold-font;
}

.label,
.u-small {
  font-size: $h6-size;
}

p.u-small {
  margin-bottom: 0px;
  &:last-child {
    padding-bottom: 1.45rem;
  }
}
/* cards and blocks appearence */
.card-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#home .card h3 {
  font-size: $h4-size;
  margin-bottom: 0px;
}

/* links and buttons*/
a {
  color: $link-color;
  font-weight: bold;
  text-decoration: underline;
}

footer a {
  color: $link-color;
}

a.text-btn,
a.btn {
  @include bold-font;
}

a.btn {
  text-decoration: none;
  color: $btn-text;
  text-decoration: none;
  text-align: center;
  display: block;
  padding: 7px 25px 10px 25px;
  width: fit-content;
  background-color: $btn-color;
  transition: background-color 0.4s ease-in;
  border-radius: 7px;
  border: none;
  text-transform: lowercase;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
}

a.btn:hover {
  border-color: transparent;
  background-color: darken($btn-color, 10%);
  box-shadow: none;
}

a.text-btn {
  position: relative;
  text-decoration: none;
  color: $text-color;
  margin-bottom: 35px;
  font-size: $h5-size;
  border: none;
  text-transform: uppercase;
  display: inline-block;
}

a.text-btn::after,
nav li a::after {
  position: absolute;
  top: 100%;
  left: 0;
  content: "";
  display: block;
  width: 0;
  height: 3px;
  background: $link-color;
  border-radius: 5px;
  transition-duration: 0.5s;
}

.hero-band a.text-btn::after,
nav li a::after {
  background-color: $secondary-color;
}

a.text-btn::after,
nav li a:hover::after,
nav li a[aria-current="page"]::after {
  width: 100%;
}

a.text-btn:hover::after {
  animation: swipeBorder 1s infinite alternate;
}

/* hero band */

.hero-band {
  padding-top: 10px;
  margin-bottom: 15px;
}

.hero-band a,
header nav,
header nav a {
  color: $white;
}

.logo {
  @include bold-display-font;
  font-size: $h3-size;
  text-transform: none;
  background: -webkit-linear-gradient(150deg, $secondary-color, #ee4f4f);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.tagline {
  @include regular-display-font;
  margin-bottom: 0px;
  font-size: $h5-size;
  font-style: italic;
}

.hero-band .h1-font {
  @extend h1;
}

.hero-band h1,
.hero-band .h1-font {
  margin-bottom: 10px;
  line-height: 1;
  font-size: $h2-size * 1.12;
}

p.hero-text {
  line-height: 1.2;
}

/* blog and post styles */

#post header {
  padding: 0px;
  margin-bottom: 0px;
}

#post main {
  padding-top: 0px;
}

nav.wrapper-lg {
  margin-bottom: 0px;
  display: flex;
  align-items: flex-end;
}

#post .nav-wrapper {
  padding: 35px 0px;
  background-color: $primary-color;
}

#post article {
  padding-bottom: 1.45rem;
  p:last-child {
    margin-bottom: 0px;
  }
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ul,
  ol {
    max-width: 720px;
    width: 92%;
    margin-left: auto;
    margin-right: auto;
  }
}

nav[aria-label="breadcrumbs"] {
  border-bottom: 0px;
  padding-top: 35px;
  padding-bottom: 20px;

  li {
    font-weight: 700;
    padding-right: 7px;
    &::after {
      content: "/";
      font-size: 0.8em;
      color: $text-color;
    }

    a {
      color: $link-color;
      font-weight: 700;
      font-size: $h6-size;
      &::after {
        height: 2px;
        background-color: $link-color;
      }
    }
  }
}

nav[aria-label="breadcrumbs"] ol.nav-list {
  margin: 0px;
  padding: 0px;
}

#post h1 {
  margin-top: 0px;
}

#post {
  main {
    ol,
    ul {
      padding-left: 2rem;
    }
  }
}

#post .image-wrapper {
  margin: auto;
  display: block;
  margin-top: 60px;
  max-width: 950px;
  width: 92%;
  margin-bottom: 60px;
}

#post > div {
  padding: 35px 0px;
}

.post-nav div,
nav div:last-child {
  margin-bottom: 0;
}

.post-nav a {
  text-decoration: none;
}

.post-nav div {
  margin-top: 0px;
}

.post-nav {
  .post-nav-title,
  .index-nav-title {
    font-size: $h4-size;
    font-weight: 900;
  }

  .post-nav-title {
    max-width: 90%;
  }
}

.block-right .post-nav-title {
  margin-right: 0px;
  margin-left: auto;
}

.post-nav div span.post-nav-label {
  @include bold-font;
  font-size: $h6-size;
  text-transform: uppercase;
  display: block;
  color: $text-color;
}

.post-nav div span {
  &.back-arrow,
  &.forward-arrow {
    @include bold-font;
    font-size: $h4-size;
    width: auto;
    color: $link-color;
    display: inline-block;
  }

  &.back-arrow {
    padding-right: 0.5rem;
  }

  &.forward-arrow {
    padding-left: 0.5rem;
  }
}

.post-list .u-small {
  margin-top: 5px;
  margin-bottom: 5px;
}

.post-list .card h4,
.post-list .card h2,
.cta h4 {
  margin-top: 0px;
  margin-bottom: 0px;
}

.label {
  color: $text-color;
}

.post-nav > div {
  margin-bottom: 10px;
}

nav .page-number {
  margin: 0px 0px 5px 0px;
  padding-top: 35px;
  font-weight: 700;
}

.post-nav {
  padding: 35px 0;
}

.page-number + .post-nav {
  padding-top: 0px;
}

ul.post-list {
  margin: 0;
}

.post-list li {
  list-style: none;
  padding-bottom: 35px;
  margin-bottom: 0px;
}

.tag {
  padding-right: 10px;
}

a.tag {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.featured-image {
  max-width: 400px;
  margin: auto;
}

.post-list .featured-image {
  margin: 0px;
}

/* home */
.video-container,
.audio-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
  border-radius: 7px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
}

.video-container h4,
.audio-container h4 {
  font-size: 0px;
}

.audio-container iframe #content {
  margin: 0px;
}

.audio-container {
  padding-bottom: 165px;
}

.audio-container iframe,
.audio-container object,
.audio-container embed,
.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-clip-path: inset(0% round 7x);
  clip-path: inset(0% round 7px);
}

#post .video-container {
  margin: 20px 0;
}

#post .audio-container {
  border-radius: 7px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
  margin: 20px 0;
}

#post .audio-container iframe {
  -webkit-clip-path: inset(0% round 7x);
  clip-path: inset(0% round 7px);
  margin: 0px;
  margin-bottom: -7px;
}

#home .u-header,
#home .cta {
  margin-right: 7px;
  margin-left: 7px;
}

#home .u-header ~ a.text-btn {
  margin-left: 7px;
  transform: translateY(-20px);
}

#home header h1,
#home header .h1-font {
  margin-bottom: 0px;
}

#home .hero-band {
  margin-bottom: 0px;
}

#home .hero-band .wrapper-lg {
  display: flex;
  align-items: flex-end;
  height: 75px;
}

#home header {
  @include banner-background("/images/background/flower-375.jpg", 105px);
}

@media (min-width: 768px) {
  #home header {
    @include banner-background("/images/background/flower-768.jpg", 115px);
  }
  #home .hero-band .wrapper-lg {
    height: 100px;
  }
}

@media (min-width: 1024px) {
  #home header {
    @include banner-background("/images/background/flower-1024.jpg", 250px);
  }
}

@media (min-width: 1440px) {
  #home header {
    @include banner-background("/images/background/flower-1440.jpg", 350px);
  }
  #home .hero-band .wrapper-lg {
    height: 200px;
  }
}

/* blockquote */

blockquote {
  font-style: italic;
  font-weight: 700;
}

blockquote p {
  border-left: 2px solid $primary-color;
  font-size: $h4-size;
  padding-left: 20px;
  margin-bottom: 5px;
}

blockquote span {
  display: block;
  font-size: $h5-size;
  font-weight: normal;
  font-style: normal;
}

blockquote span:before {
  content: "\2014 ";
}

blockquote p,
blockquote span {
  line-height: 1.2;
}

#about {
  main h2:first-of-type {
    margin-top: 0px;
  }
}

/* Gird classes */
.cols-1fr-1fr > .col {
  margin-bottom: 35px;
}

@media (min-width: 768px) {
  .cols-1fr-2fr,
  .cols-3fr-1fr {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .cols-1fr-2fr > .col {
    flex-basis: 67%;
  }
  .cols-1fr-2fr > .col:first-child {
    flex-basis: 25%;
  }
  .cols-3fr-1fr > .col:first-child {
    flex-basis: 67%;
  }

  .cols-1fr-2fr > .col:first-child,
  .cols-3fr-1fr > h2.col:first-child {
    margin-top: 0px;
  }

  .cols-3fr-1fr > .col {
    flex-basis: 25%;
  }

  @supports (display: grid) {
    .cols-1fr-2fr,
    .cols-3fr-1fr {
      display: grid;
      grid-gap: 0px 35px;
    }

    .cols-3fr-1fr {
      grid-template-columns: 3fr 1fr;
    }

    .cols-1fr-2fr {
      grid-template-columns: 1fr 2fr;
    }
  }
}

@media (min-width: 329px) {
  nav a.btn {
    margin-top: -5px;
  }
}

@media (min-width: 769px) {
  .hero-band h1 {
    font-size: $h1-size * 1.5;
  }

  .hero-band h1 span {
    display: block;
  }

  p.hero-text {
    font-size: $p-size * 1.5;
  }

  .cols-1fr-1fr {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .cols-1fr-1fr > .col {
    flex-basis: 48.5%;
    margin-bottom: 35px;
  }

  .post-nav {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;

    .post-nav-title {
      display: flex;
    }
  }

  nav .page-number {
    text-align: center;
    margin-bottom: -27px;
  }

  .post-nav div {
    margin-bottom: 0;
    max-width: 40%;
  }

  .block-right {
    margin-right: 0;
    margin-left: auto;
    text-align: right;
  }

  .featured-image {
    max-width: 600px;
  }

  @supports (display: grid) {
    .cols-1fr-1fr {
      display: grid;
      grid-gap: 0px 70px;
    }

    .cols-1fr-1fr {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
