<title>
    {% if title %}
      {{ title }} | {{ metadata.title }}
      {% else %}
      {{ metadata.title }}
    {% endif %}
</title>

<meta name="description" content="{% if excerpt %}{{ excerpt }}{% else %}{{ metadata.description }}{% endif %}">
<meta name="author" content="{{ metadata.author.name }}" />
<meta name="keywords" content="{% if tags %}{{ tags }}{% else %}{{ metadata.keywords }}{% endif%}" />

<meta property="og:type" content="website" />
<meta property="og:title" content="{% if title %} {{ title }} | {{ metadata.title }} {% else %} {{ metadata.title }} {% endif %}" />
<meta property="og:description" content="{% if excerpt %}{{ excerpt }}{% else %}{{ metadata.description }}{% endif %}" />

<meta name="twitter:card" content="summary" />
<meta name="twitter:creator" content="{{ metadata.social.twitter }}" />
<meta name="twitter:title" content="{% if title %} {{ title }} | {{ metadata.title }} {% else %} {{ metadata.title }} {% endif %}"/>
<meta name="twitter:description" content="{% if excerpt %}{{ excerpt }}{% else %}{{ metadata.description }}{% endif %}" />