
{% extends "layouts/base.html"%}
{% set pageId = "post" %}
{% set previousPost = collections.blog | getPreviousCollectionItem(page) %}
{% set nextPost = collections.blog | getNextCollectionItem(page) %}
{% block content %} 
    <header>
        <div class="nav-wrapper">
            {% include "components/landmarks/nav.html" %}
        </div>
        <div class="wrapper-sm block-center">
        <div class="breadcrumb-wrapper">

            <nav aria-label="breadcrumbs">
                <ol class="nav-list">
                    <li>
                        <a href="/">
                            Home
                        </a>
                    </li>
                    <li>
                        <a href="/work">
                            Blog
                        </a>
                    </li>
                </ol>
            </nav>
        </div>

         <h1>{{ title }}</h1>
        </div>
    </header>

    <main>
    <div>
        <article class="wrapper-sm block-center">
            {{ content | safe }}
        </article>
    </div>
    </main>

    {% include "components/posts/previous-next.html" %}

   

  {% endblock%}