   
      <h2 class="col">Hear Me Speak</h2>

      <div class="col">

        <div class="post-list col cols-50-50">

          <div class="col">
            <h3 class="u-header">Videos</h3>
            <div class="card no-hover-effect">
              <div class="video-container">
                <iframe title="video of justify-yourself: space-between, with Katie Langerman" width="560" height="315" src="https://www.youtube.com/embed/AtYyOGmOZkc" frameBorder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowFullScreen></iframe>
                <h4>justify-yourself: space-between, with Katie Langerman</h4>
              </div>
            </div>

          </div>

          <div class="col">
          <h3 class="u-header">Audio</h3>
            <div class="card no-hover-effect">
            <div class="video-container">
            <iframe title="Spanish podcast recording of Ser UX Researcher en Harvard University, interview by Píldoras UX" width="560" height="315" src="https://www.youtube.com/embed/ydAzSlfgKqo" frameBorder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowFullScreen></iframe>
            <h4>Ser UX Researcher en Harvard University, interview by Píldoras UX</h4>
            </div>
            <p class="u-small"><span class="label">Language:</span> Spanish</p>
            </div>
          </div>
        </div>

      </div>