<footer>
    <div class="wrapper-lg">
        <p>© Fictional Color Blog 2023</p>
        <p>
            <a href="/blog">Read Blog</a>
        </p>
        <p>
            <a href="/feed.xml">RSS</a>
        </p>

        <ul class="social">
            {% for channel in socialChannels.channels %}
                <li>
                    <a href="{{ channel.url }}">
                        <img src="{{ channel.iconSrc }}" alt="{{ channel.name }} icon"/>
                        <span>Zoraida's
                            {{ channel.name }}</span>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
</footer>