{% extends "layouts/base.html" %}
{% set title = "Home" %}
{% set pageId = "home" %}

{% block content %}

  <header>
    {% include "components/landmarks/nav.html" %}
    <div class="hero-band">
      {% include "components/home/banner.html" %}
    </div>
  </header>

  <main>
    <section class="wrapper-lg cols-20-80">
      {% include "components/home/writing.html" %}
    </section>

    <section class="cols-20-80 wrapper-lg">
      {% include "components/home/speaking.html" %}
    </section>

    <section class="cols-20-80 wrapper-lg">
      {% include "components/home/contact.html" %}
    </section>

  </main>
{% endblock %}