<h2 class="col">Hear Me Speak</h2>

<div class="col">
    <div class="post-list col cols-50-50">
        {% for feature in featuredSpeaking.features %}

            <div class="card">
                {% if feature.titleLanguage%}
                    <h3 lang="{{ feature.language }}">
                        {% else%}
                        <h3>
                        {% endif %}
                        {% if feature.url%}
                            <a href="{{ feature.url }}">
                                {{ feature.title }}
                            </a>
                        {% else %}
                            {{ feature.title}}
                        {% endif %}
                    </h3>
                    <p class="u-small">
                        <span class="label">{{ feature.dateLabel }}:</span>
                        <time datetime="{{ feature.date }}">{{ feature.date | formatDate }}</time>
                        at
                        {% if feature.forLanguage%}
                            <span lang="{{ feature.language }}">
                                {% else%}
                                <span>
                                {% endif %}
                                {{ feature.for }}</span>
                        </p>
                        <p class="u-med">{{ feature.description}}</p>

                    </div>
                {% endfor %}

            </div>
        </div>