<h2 class="col">Hear Me Speak</h2>

<div class="col">
    <div class="post-list col cols-50-50">

        <div class="col card">

                <h3>
                    <a href="https://www.youtube.com/watch?v=AtYyOGmOZkc&feature=emb_title">
                        justify-yourself: space-between, with Katie Langerman
                    </a>
                </h3>
                <p class="u-small">
                <span class="label">Event Date:</span>
                <time datetime="2019-10-04">October 4, 2019</time>
                </p>
                <p class="u-small">
                <span class="label">Delivered for:</span>
                Boston CSS
                </p>
            <p class="u-med">A talk about being a wearing multiple hats in UX</p>

        </div>

        <div class="col card">
    
                <h3 lang="es">
                    <a href="https://www.youtube.com/watch?v=ydAzSlfgKqo">
                        Ser UX Researcher en Harvard University
                    </a>
                </h3>
                 <p class="u-small">
                <span class="label">Published:</span>
                <time datetime="2021-01-06">January 6, 2021</time>
                </p>
                <p class="u-small">
                <span class="label">Delivered for:</span>
                <span lang="es">Píldoas UX</span>
                </p>
                <p class="u-med">A Spanish interview about my trajectory into UX Research</p>
 
        </div>

    </div>
</div>