<div class="project-overview-container">
    <section class="block-center">
        <h2>Project Overview</h2>

        <h3>Summary</h3>
        <p>{{ description }}</p>

        <h3>Team &amp; Timeline</h3>
        <p>{{ projectOverview.teamAndTimeline }}</p>

        <h3>Responsabilities</h3>
        <ul class="project-responsabilities">
            {% for responsability in projectOverview.responsabilities %}
                <li><a href="#{{ responsability | cssAttributeValue }}">{{ responsability }}</a></li>
            {% endfor %}
        </ul>

        <h3>Tools</h3>
        <ul class="project-tools">
            {% for tool  in projectOverview.tools %}
           <li class="tool-{{  tool | cssAttributeValue }}">{{ tool }}</li>
            {% endfor %}
        </ul>

        <h3>Outcome</h3>
        <p>{{ projectOverview.outcome }}</p>

    </section>
</div>